body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1; /* Light gray background */
}

nav {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    transition: all 0.7s;
}

.Hover-effect:hover {
    transform: translateY(-3px) scale(1.01);
}

.Hover-effect:hover img {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h3, h2 {
    font-size: 1.8rem;
    color: #333; /* Dark text color */
}

.news-container {
    margin-bottom: 50px;
    padding: 0 1rem;
    padding-top: 80px;
}

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.news-box {
    transition: all 0.3s;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.news-box:hover {
    text-decoration: none;
    color: #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* #effect ********************** */

.Hover-effect {
    position: relative;
}

:root {
    --underline_color: #f9924b; /* Orange color */
    --underline-hight: 0.175rem;
}

.Hover-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--underline-hight);
    background-color: var(--underline_color);
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.Hover-effect:hover::after {
    transform: scale(1, 1);
}
